<div class="duels" ng-show="duels.versus">
	You're challanged by {{duels.versus.name}}
	<a ng-click="accept_duel(duels.roomid)" class="btn btn-warning">Accept</a>
</div>

<div profile></div>

<h2>Online Users</h2>

<div class="users">
	<div ng-repeat="user in onlineusers" class="profile-list">
		<div ng-show="user.uid != profile.uid">
			<img ng-src="{{user.avatar}}" alt="">
			{{user.name}} <strong>({{user.score}})</strong> {{user.status}}
			<a ng-click="duel(user.uid)" class="btn btn-default">duel</a>
		</div>
	</div>
</div>
