<div class="board">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="row">
				<h3>Player 1</h3>
				<div ng-class="{blur: turn==2, bright: turn==1}">
					<div class="col-xs-6" ng-drop="true" ng-drop-success="onDropCompleteP1_0($data, $event)">
						<div ng-class="'hand-'+p1[0].val" ng-drag="true" ng-drag-data="p1[0]"></div>
					</div>	
					<div class="col-xs-6" ng-drop="true" ng-drop-success="onDropCompleteP1_1($data, $event)">
						<div ng-class="'hand-'+p1[1].val" ng-drag="true" ng-drag-data="p1[1]"></div>
					</div>	
				</div>
			</div>
			<div class="row">
				<h3>Player 2</h3>
				<div ng-class="{blur: turn==1, bright: turn==2}">
					<div class="col-xs-6" ng-drop="true" ng-drop-success="onDropCompleteP2_0($data, $event)">
						<div ng-class="'hand-'+p2[0].val" ng-drag="true" ng-drag-data="p2[0]"></div>
					</div>	
					<div class="col-xs-6" ng-drop="true" ng-drop-success="onDropCompleteP2_1($data, $event)">
						<div ng-class="'hand-'+p2[1].val" ng-drag="true" ng-drag-data="p2[1]"></div>
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>