<div class="board">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="row">
				<div class="profile-play">
					<img ng-src="{{player1.avatar}}" alt="">
					{{player1.name}} <strong>({{player1.score}})</strong>
					<!-- <a href="#" ng-click="logout()" class="btn btn-warning">Logout</a> -->
				</div>
				<div ng-class="{blur: state.turn==2, bright: state.turn==1}">
					<div class="col-xs-6" ng-drop="true" ng-drop-success="onDropCompleteP1_0($data, $event)">
						<div ng-class="'hand-'+state.p1[0].val" ng-drag="true" ng-drag-data="state.p1[0]"></div>
					</div>	
					<div class="col-xs-6" ng-drop="true" ng-drop-success="onDropCompleteP1_1($data, $event)">
						<div ng-class="'hand-'+state.p1[1].val" ng-drag="true" ng-drag-data="state.p1[1]"></div>
					</div>	
				</div>
			</div>
			<div class="row">
				<div class="profile-play">
					<img ng-src="{{player2.avatar}}" alt="">
					{{player2.name}} <strong>({{player2.score}})</strong>
					<!-- <a href="#" ng-click="logout()" class="btn btn-warning">Logout</a> -->
				</div>
				<div ng-class="{blur: state.turn==1, bright: state.turn==2}">
					<div class="col-xs-6" ng-drop="true" ng-drop-success="onDropCompleteP2_0($data, $event)">
						<div ng-class="'hand-'+state.p2[0].val" ng-drag="true" ng-drag-data="state.p2[0]"></div>
					</div>	
					<div class="col-xs-6" ng-drop="true" ng-drop-success="onDropCompleteP2_1($data, $event)">
						<div ng-class="'hand-'+state.p2[1].val" ng-drag="true" ng-drag-data="state.p2[1]"></div>
					</div>	
				</div>
			</div>
		</div>
	</div>
</div>